input[type='file'] {
  color: transparent;
}
body{
  font-family: 'DM Sans', sans-serif;
  color: white;
  background: #2a1c37;
  position: relative;
}
#siteHeader h1{
  display: inline;
}
#siteHeader span{
  text-align: left;        
  margin: 10px;
}
#textBox{
  position: absolute;
  color: white;
  font-size: 3.5vw;
  text-align: left;
  font-family: 'Dancing Script';
  margin: 20px;
  z-index: 6;
  width: 65%;
  max-height: 680px ;
}
#authBox{
  position: absolute;
  color: white;
  font-size: 3.1vw;
  text-align: right;
  float: inline-end;
  font-family: 'Dancing Script';
  margin: 20px;
  z-index: 6;
  width: 65%;
  max-height: 680px ;
}
#headerBox{
  background-color: #996EC1;
  padding: 20px;
  border: 4px solid black;
  border-radius: 15px;
  width: 95%;
  margin: auto;
}
#aboutBox{
  background-color: #996EC1;
  padding: 20px;
  border: 4px solid black;
  border-radius: 15px;
  width: 60%;
  margin: auto;
  margin-top: 30px;
}
#quoteBox{
  display: flex;
  background-color: black;
  border: 4px solid white;
  border-radius: 20px;
  aspect-ratio: 16 / 9;
  width: 68%;
  margin: auto;
  margin-top: 20px;
  max-height: 700px;
}
#finalCanvas{
  z-index: 1;
  height: 100%;
  width: 100%;
  border-radius: 15px;
}
#secondBox{
  display: flex;
  background-color: black;
  border: 4px solid white;
  border-radius: 20px;
  aspect-ratio: 16 / 9;
  width: 68%;
  margin-top: 200px;
  max-height: 700px;
}
#fontAlign{
  display: flex;
  flex-direction: column;
}
#quoteImage{
  z-index: 2;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  background-color: black;
}
.customButton{
  font-style: italic;
  font-weight: 700;
  font-size: 3vh;
  border-radius: 15px;
  padding: 15px;
  margin: 20px 0px 5px 10px;
  border: 4px solid black;
  color: white;
}
.noHoverButton{
  font-style: italic;
  font-weight: 700;
  font-size: 3vh;
  border-radius: 15px;
  padding: 15px;
  margin: 20px 0px 5px 10px;
  border: 4px solid black;
  color: white;
  background-color:#af54c1;

}

.selector{
  position: absolute;
  width: 10%;
  font-style: italic;
  font-size: 3vh;
  border-radius: 15px;
  padding: 15px;
  margin: 20px 5px 10px;
  border: 4px solid black;
  color: white;
  background-color:#af54c1;
  z-index: 1;
  right: 66%;

}
.center {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction:row;
}
#mostButtons{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction:row;
  position: absolute;
  left: 34%;
}
#add{
  background-color:#af54c1;
}
#add:hover{
  background-color:#edbee8;
  color: black;
  border: 4px solid white;
}
.aboutButton{
  background-color:#6d3d97;
  font-style: italic;
  font-weight: 700;
  font-size: 3vh;
  border-radius: 15px;
  padding: 15px;
  margin: 20px 0px 5px 10px;
  border: 4px solid black;
  color: white;
}
.aboutButton:hover{
  background-color:#edbee8;
  color: black;
  border: 4px solid white;
}

