input[type='file'] {
  color: transparent;
}
body{
  font-family: 'DM Sans', sans-serif;
  color: white;
  background: #2a1c37;
  position: relative;
}
#siteHeader h1{
  display: inline;
}
#siteHeader span{
  text-align: left;        
  margin: 10px;
}
#textBox{
  position: absolute;
  background-color: red;
  font-size: 3.2vw;
  text-align: left;
  font-family: 'Dancing Script';
  margin: 20px;
  z-index: 6;
  width: 65%;
  max-height: 680px ;
}
#headerBox{
  background-color: #996EC1;
  padding: 20px;
  border: 4px solid black;
  border-radius: 15px;
  width: 95%;
  margin: auto;
}
#aboutBox{
  background-color: #996EC1;
  padding: 20px;
  border: 4px solid black;
  border-radius: 15px;
  width: 60%;
  margin: auto;
  margin-top: 30px;
}
#quoteBox{
  display: flex;
  background-color: black;
  border: 4px solid white;
  border-radius: 20px;
  aspect-ratio: 16 / 9;
  width: 68%;
  margin: auto;
  margin-top: 20px;
  max-height: 700px;
  z-index: 7;
}
#quoteImage{
  z-index: 1;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  background-color: aquamarine;
}
.customButton{
  font-style: italic;
  font-weight: 700;
  font-size: 3vh;
  border-radius: 15px;
  padding: 15px;
  margin: 20px 0px 5px 10px;
  border: 4px solid black;
  color: white;
}
.again{
  font-style: italic;
  font-weight: 700;
  font-size: 3vh;
  border-radius: 15px;
  padding: 15px;
  margin: 20px 0px 5px 10px;
  border: 4px solid black;
  color: white;
}
.selector{
  position: relative;
  width: 30%;
  font-style: italic;
  font-size: 3vh;
  border-radius: 15px;
  padding: 15px;
  margin: 20px 0px 5px 10px;
  right: -25vw;
  border: 4px solid black;
  color: white;
}
.center {
  display: flex;
  justify-content: center;
  align-content: center;
}
#add{
  background-color:#af54c1;
}
#add:hover{
  background-color:#edbee8;
  color: black;
  border: 4px solid white;
}
#imgUpload{
  background-color:#af54c1;
}
#setting{
  background-color:#6d3d97;
}
#setting:hover{
  background-color:#edbee8;
  color: black;
  border: 4px solid white;
}